<!-- Code that displays all figures of a project -->

{% assign figures = site.data[page.figures_data] %}
<div class="figures-gallery">
  {% for figure in figures %}
    <figure class="figure-item">
        <h3>{{ figure.title | markdownify }}:</h3>
        <center>
          <img src="{{ site.baseurl }}/{{ figure.image }}" style="max-width: 70%; height: auto;"/>
          <figcaption>{{ figure.caption | markdownify }}</figcaption>                  
        </center>    
    </figure>
    <br>
  {% endfor %}
</div>